<br>
<h1 id='angular'>ANGULAR</h1><br><br>

<h4 id='anuncio' class="text-danger">{{anuncio}}</h4><br>


<div class="card shadow" style="width: 18rem;">
    <img [src]="foto" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
            {{nomeProduto|uppercase}}
            <span *ngIf="promocao; else elseBlock" class="badge badge-success">Promoção!!!!!!!!!!!!!!!!!</span>
            <ng-template #elseBlock>
                <span class="badge badge-primary">Aproveite!!!!!!!!!!!!!!!!!</span>
            </ng-template>

        </h5>
        <p class="card-text">Identificação: {{idProduto | number: '2.0-0' }} <br> Validade {{dataValidade | date : 'longDate'}}
        </p>
        <a href="#" class="btn btn-primary float-right">{{precoProduto | currency: "BRL":"symbol":"1.2-3"}}</a>
    </div>
</div>








<!-- /<br><h1>Seja bem vindo ao Angular</h1><br><br>
<div class="row">
  <div class="col">
    <a href="https://etechoracio.com.br/has/">
        <img  class="img-fluid" src="assets/img/logo_horacio.png">
  </a>
  </div>
<div class="col"><br><br>
    <img class="img-fluid" src="assets/img/crud.png">
</div>
</div> -->