<div class="nav fixed-bottom navbar-light bg-light justify-content-center">
  <span class="navbar-text">
    Bruno e Alana <strong>@ Curso Angular</strong>
  </span>


</div>




<span class="fruta text-center">
  <p>Frutas e verduras</p>
</span>


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(177, 87, 177)">
  <a class="navbar-brand" href="#">@PETZA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Vacina <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Doação <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          PETSHOP
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Encontre</a>
        </div>
      </li>
    </ul>
      <button class="btn btn-dark" type="submit">Sing in</button>
  </div>
</nav>
