<h1 class="my-3 text-info"> Listar produtos
    <button type="button" routerLink="/produtos/cadastrar" class=" btn btn-info mt-2 float-right ">Cadastrar</button>
</h1> <br>
<div class="card shadow ">
    <table class="table table-reponsive table striped ">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Validade</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let prod of listaproduto">
              <tr *ngFor = "let prod of listaproduto">
                <td>{{ prod.id}}</td>
                <td>{{prod.nome}}</td>
                <td>{{prod.validade | date: "longDate"}}</td>
                <td>{{prod.precoProduto | currency: "BRL"}}</td>
                <td>
                    <button class="btn btn-warning ">
                        <i class="fa fa-pencil " aria-hidden="true "></i>
                    </button>
                    <button class="btn btn-danger ml-2 ">
                        <i class="fa fa-trash-o " aria-hidden="true "></i>
                    </button>
                </td>
              </tr>
        </tbody>
    </table>

</div>
