

<h4 id='anuncio' class="text-danger"></h4><br>
<br>
<div class="container">
  <div class="row">
      <div class="col">

          <div class=" card shadow " style="width: 20rem; ">
              <img [src]="foto " class="card-img-top " alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">
                      {{nomeProduto|uppercase}}
                      <span *ngIf="promocao; else elseBlock " class="badge badge-success ">Promoção!!!!!!!!!!!!!!!!!</span>
                      <ng-template #elseBlock>
                          <span class="badge badge-primary ">Aproveite!!!!!!!!!!!!!!!!!</span>
                      </ng-template>

                  </h5>
                  <p class="card-text ">Identificação: {{idProduto | number: '2.0-0' }} <br> Validade {{dataValidade | date : 'longDate'}}
                  </p>
                  <a href="#" class="btn btn-primary float-right">{{precoProduto | currency: "BRL":"symbol":"1.2-3"}}</a>
              </div>
          </div>


      </div>
  </div>




